html{
    background-color:beige;
    }
    h1, h2 {
        font-size: 25px;
    color: brown
}
.tohlejetrida{
    background-color: aquamarine;
}
#text1 {
    background-color: rgb(183, 56, 113);
}